<%- include('parts/dependencies.ejs'); %> 
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">
  
  


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br>

<center>

<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Acknowledgments</b>
  </h2>
  <p>
    Thank you to everyone here! We really appreciate your direct/very indirect help.
  <br>
  </p>
</div>
<br>

<div class="row">
  <div class="rowish" style="background-color:#24519e;">
    <h2 class="colhead">Axios</h2>
    <p class="potato">for its simple-to-use requests.</p>
  <div class="rowish" style="background-color:#2f66c6;">
    <h2 class="colhead">SweetAlert</h2>
    <p class="potato">for its stunning modals.</p>
  <div class="rowish" style="background-color:#5787db;">
    <h2 class="colhead">Google Fonts</h2>
    <p class="potato">for its variety of unique fonts.</p>
  <div class="rowish" style="background-color:#749ce2;">
    <h2 class="colhead">Progressbar.js</h2>
    <p class="potato">for its progress bars.</p>
  <div class="rowish" style="background-color:#9ebaea;">
    <h2 class="colhead">And finally, Material Design for Bootstraps</h2>
    <p class="potato">for its wide array for pre-created css properties and html asset</p>
  </div>
</div>
</center>
<%- include('parts/footer.ejs'); %>
