<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">
  
  


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br><br><br>

<center>


<%- include('parts/footer.ejs'); %>
