<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">


	<html>

	<body>


<div id="body1">

<%- include('parts/navbar.ejs'); %>
<style>
#body1 {
  background-image: url("static/img/BG-9.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<br><br><br>







<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">

<button type="button" class="btn btn-primary    " data-mdb-ripple-color="#619eff" style="background-color:#0058e6" onclick="genID()"> First Time Here? Click to generate a profile </button>

<br><br><br>

</div>
</center>

<br><br><br>


</div>
</body>
</html>

<script>
async function getapi(id) {
  const response = await fetch('/api/v1/get/'+id);
  const data = await response.json();
  return data;
}
async function genID(){
  let id = "";
  while(true){
    id = Math.random().toString().slice(2,10);
    const data = await getapi(id);
    console.log(data);
    if(JSON.stringify(data) ==JSON.stringify({}) ){
      break;
    }
  }
  console.log(id);


  swal({
    text: 'Write your donation goal per month here!',
    content: "input",
    button: {
      text: "Enter",
      closeModal: false,
    },
  })
  .then(inputValue => { //helpp it says cannot get /resources
    if (inputValue === null) return false;
    
    if (inputValue === "") {
      swal.showInputError("You need to write something!");
      return false
    }

    if(isNaN(inputValue)){
      swal.showInputError("You need to write a number!");
      return false
    }

    axios({
      method: 'post',
      url: '/api/v1/set',
      withCredentials: true,
      data: {
        id: id,
        json: "{goal: "+inputValue+", currentMonth: 0, total: 0, badges:[]}"
      }
    })
    .then(function(res){
        swal("Your ID is "+id+"! Keep it somewhere safe. You will need this to access your profile")
    })
    .catch(function(err){
      swal("Error", "API error.", "error", {
        button: "Continue",
      });
    })
})

}
</script>