<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br><br><br>







<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Download the game here!</b>
  </h2>
  <p>
    Unfortunately, due to technical difficulties, we could not embed the game onto the website. If you would like to test it, here is the download link: <br> <a href='https://github.com/SummitStudiosDev/Hacktable-2021/releases/tag/1.0.0'> Download Link </a> <br> In the game, you collect food, and the goal is to collect all the food! 
    <br><br>
  </p>
</div>
</center>
<br><br>

<p></p>
<br><br><br>

</body>
</html>


<%- include('parts/footer.ejs'); %>
