<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">
  
  


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br><br><br>







<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Welcome to Trakido</b>
  </h2>
  <br>
  <p>
    At this website, our goal is to spread awareness about poverty and hunger, a very big problem in today's society; from 2014 to 2018, food insecurity was already on the rise. It increased 3.2% during the time period of four years. 21.3% of children are stunted, meaning that they having been prevented from growing or developing properly. COVID-19 has become a lasting threat to food systems, and small-scale food producers have also been hit hard by the crisis, comprising of almost 40 to 85% of all food producers in developing regions. After many years of the amount of people suffering from steadily decreasing, the number of, measured by the number of people being undernourished - began to creep up once more in 2015. If this trend continues, in one year, nearly 690 million people will be left hungry, at 8.9% of the world's population. In six years, nearly sixty million people will be hungry.

    <br><br>

    With the 690 million people today that may potentially be at the brink of starvation, we must take action to help these people by providing food and humanitarian relief to the most at-risk regions. Our website aims to help achieve this goal. Our resources page provides you with information and we have listed some possible donation sites. If you donate, you can go to the Donation Tracker and create an account with your goal for amount donated per month. Once you have your id, you can use this to add to your account and the amount you've donated, and you will get badges once you donate money and food, and most importantly, help others in need.

  </p>
</div>
</center>
<p></p>

<br><br><br>
<center>
<div class="row">
  <div class="column" style="background-color:#adc8fb;">
    <img src="static/img/money.png" class="colicon" alt="Money icon" width="100px" height="100px">
    <h2 class="colhead">Donate</h2>
    <p>Set up a goal of some money to donate per month. Donate money, and see how close you are to your goal - you can track your progress with a custom dashboard just for you.</p>
  </div>
  <div class="column" style="background-color:#92b7fc;">
    <img src="static/img/bowlsteam.png" class="colicon" alt="Food icon" width="100px" height="100px">

    <h2 class="colhead">Feed Others</h2>
    <p>Help others that need help - donate money and food to trusted organizations.</p>
  </div>
  <div class="column" style="background-color:#adc8fb;">
    <img src="static/img/badge.png" class="colicon" alt="Badge icon" width="100px" height="100px">
    <h2 class="colhead">Earn Badges</h2>
    <p>Earn badges by donating money and food, reaching goals, and helping others.</p>
  </div>
</div>
</center>
<p></p>
<div class="roww">
  <div class="columnn" style="background-color:#92b7fc;">
    <p class="ohead">Why should I help?</p>
    <p class="whyhelp">In 2019, more than <b>35 million people</b> experienced hunger. from 2019 to 2020, the number of people who are hungry had risen to about 161 million hungry people in the world.
    Additionally, small farmers, fishermen, herders, and more produce most of the world's food-yet they are some of the ones who go to bed hungry each night.</p>
  </div>
  <div class="columnn" style="background-color:#adc8fb;">
    <p class="ohead">How can I help?</p>
    <p class="whyhelp">Our website will provide trustworthy dontation websites and resources you can use. Choose your favorite one, set a goal, and we'll track your progress. When you meet a goal, you'll earn a badge. Compete with friends to see who can get more badges, all while helping others.</p>
<div>

</div>
</div>

</div>
</div>
</div>
</body>
</html>


<%- include('parts/footer.ejs'); %>
