<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br><br><br>







<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Resources</b>
  </h2>
  <p>
    We have gathered trustworthy resources for you to learn more about world hunger - whether you want to learn more, find statistics, or simply make a donation.
    <br><br>
  </p>
</div>
</center>
<p></p>
<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Statistics</b>
  </h2>
  <a href="https://www.actionagainsthunger.org/world-hunger-facts-statistics" target="_blank" class="pa">actionagainsthunger.org</a>
  <p></p>
  <a href="https://www.worldvision.org/hunger-news-stories/world-hunger-facts" target="_blank" class="pa">worldvision.org</a>
  <p></p>
  <a href="https://www.compassion.com/poverty/hunger.htm" target="_blank" class="pa">compassion.com</a>
  <p></p>
  <a href="https://www.worldhunger.org/" target="_blank" class="pa">worldhunger.org</a>

</div>
</center>
<p></p>
<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Donation Sites</b>
  </h2>
  <a href="https://www.shfb.org/" target="_blank" class="pa">Second Harvest Food Drive</a>
  <p></p>
  <a href="https://www.actionagainsthunger.org/" target="_blank" class="pa">Action Against Hunger</a>
  <p></p>

</div>
</center>
<p></p>
<br><br><br>

</body>
</html>


<%- include('parts/footer.ejs'); %>
