<%- include('parts/dependencies.ejs'); %>
	<link rel="stylesheet" type="text/css" href="/static/css/homecss.css">
	<link rel="stylesheet" type="text/css" href="/static/css/textcolors.css">


	<html>

	<body>


		<div id="body1">

			<%- include('parts/navbar.ejs'); %>
				<style>
					#body1 {
						background-image: url("static/img/BG-9.jpg");
						background-position: center;
						background-repeat: no-repeat;
						background-size: cover;
					}
				</style>

				<br><br><br>







<center>
<div id="box" class="whitetext" style="background-color: rgb(0,0,0,0.4); backdrop-filter: blur(10px);">
  <h2 class="titletexthing">
    <b>Resources</b>
  </h2>
  <p>
    We have gathered trustworthy resources for you to learn more about world hunger - whether you want to learn more, find statistics, or simply make a donation.

    <br><br>
  </p>
</div>
</center>
<p></p>

<br><br><br>
<div class="row">
  <div class="column" style="background-color:#86adf7;">
    <img src="static/img/money.png" class="colicon" alt="Money icon" width="100px" height="100px">
    <h2 class="colhead">Donate</h2>
    <p>Set up a goal of some money to donate per month. Donate money, and see how close you are to your goal - you can track your progress with a custom dashboard just for you.</p>
  </div>
  <div class="column" style="background-color:#73a2fa;">
    <img src="static/img/bowlsteam.png" class="colicon" alt="Food icon" width="100px" height="100px">

    <h2 class="colhead">Feed Others</h2>
    <p>Help others that need help - donate money and food to trusted organizations.</p>
  </div>
  <div class="column" style="background-color:#86adf7;">
    <img src="static/img/badge.png" class="colicon" alt="Badge icon" width="100px" height="100px">
    <h2 class="colhead">Earn Badges</h2>
    <p>Earn badges by donating money and food, reaching goals, and helping others.</p>
  </div>
</div>
<p></p>
<div class="roww">
  <div class="columnn" style="background-color:#75a8f0;">
    <p class="ohead">Why should I help?</p>
    <p class="whyhelp">In 2019, more than <b>35 million people</b> experienced hunger. from 2019 to 2020, the number of people who are hungry had risen to about 161 million hungry people in the world.
    Additionally, small farmers, fishermen, herders, and more produce most of the world's food-yet they are some of the ones who go to bed hungry each night.</p>
  </div>
  <div class="columnn" style="background-color:#85b2f2;">
    <p class="ohead">How can I help?</p>
    <p class="whyhelp">Our website will provide trustworthy dontation websites and resources you can use. Choose your favorite one, set a goal, and we'll track your progress. When you meet a goal, you'll earn a badge. Compete with friends to see who can get more badges, all while helping others.</p>
<div>

</div>
</body>
</html>