
<!-- Footer -->
<footer class=" text-center text-white" style="background-color:#1d3272;">
  <!-- Grid container -->
  <div class="container p-4">




    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <center>
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/dashboard" class="text-white">Dontation Tracker</a>
            </li>
            <li>
              <a href="/mybadges" class="text-white">Badges</a>
            </li>
            <li>
              <a href="/resources" class="text-white">Resources</a>
            </li>
            <li>
              <a href="/acknowledgements" class="text-white">Acknowledgements</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.shfb.org/" target="_blank" class="text-white">Second Harvest Food Bank [California]</a>
            </li>
            <li>
              <a href="https://www.actionagainsthunger.org/" target="blank" class="text-white">Action Against Hunger</a>
            </li>
            <li>
              <a href="https://www.worldhunger.org/" target="_blank" class="text-white">World Hunger</a>
            </li>
            <li>
              <a href="https://www.worldvision.org/hunger-news-stories/world-hunger-facts" target="_blank" class="text-white">World Vision</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    </center>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://Hacktable-2021.summit.repl.co">Aqua, Summit, Snuggly</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->